.pc-only {
  margin: 0;
  padding: 0;
}

.mb-only {
  margin: 0;
  padding: 0;
}

.l-wrap {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.l-header {
  display: flex;
  top: 0;
  left: 0;
  margin: 20px 32px 0;
  position: absolute;
  width: calc(100vw - 64px);
  height: 54px;
}

.p-logo {
  left: 32px;
  margin-top: -8px;
  width: 100%;
  height: 58px;
}

.p-copyPC {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 132px;
  height: 44vw;
}

.l-visualPC {
  width: 100vw;
  height: auto;
}

.l-visualMB {
  width: 100vw;
  height: auto;
}

.p-topBtn {
  position: absolute;
  top: 12px;
  right: 4px;
  width: auto;
  height: 52px;
}

.p-topBtnImg {
  width: auto;
  height: 52px;
}

.p-contentsPC {
  margin: 60px 0 0;
  width: 100vw;
}

.p-contentsMB {
  margin: 60px 0 0;
  width: 100vw;
}

.p-titlePC {
  display: block;
  margin: 0 auto;
  height: 70px;
}

.p-titleMB {
  display: block;
  margin: 0 auto;
  height: 120px;
}

.p-meritPC {
  margin: 32px 44px 0 36px;
}

.p-meritPC__img {
  width: 100%;
}

.p-meritMB {
  margin: 32px 20px 0 10px;
}

.p-meritMB li {
  margin-bottom: 16px;
  width: 100%;
}

.p-meritMB li:last-child {
  margin-bottom: 0;
}

.p-meritMB__img {
  width: 100%;
}

.p-curriPC {
  margin: 0 20px;
  padding-top: 28px;
}

.p-curriPC__img {
  width: calc(100vw - 40px);
}

.p-curriMB {
  padding-top: 10px;
}

.p-curriMB__img {
  width: 100vw;
}

.p-otherTitlePC {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  height: 84px;
}

.p-planTitleMB {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  height: 80px;
}

.p-planPC {
  margin: 32px auto 0;
}

.p-planPC ul {
  display: flex;
  justify-content: center;
  margin-right: 0;
}

.p-planPC ul li {
  margin-right: 8px;
}

.p-planPC ul li:last-child {
  margin-right: 0;
}

.p-planWrapPC {
  position: relative;
}

.p-planMB {
  margin: 32px 16px 0;
}

.p-planWrap {
  position: relative;
  margin-bottom: 20px;
}

.p-planWrap:last-child {
  margin-bottom: 0;
}

.p-planPCImg {
  width: auto;
  height: 1100px;
}

.p-planWrap__img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 1100px;
}

.p-planTopPC {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}

.p-planBtmPC {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}

.p-planTopPC__topBtn {
  z-index: 2;
  position: absolute;
  bottom: 486px;
  width: 300px;
}

.p-planBtmPC__btn {
  z-index: 2;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 52px;
  width: 300px;
}

.p-planTop {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}

.p-planBtm {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}

.p-planMB__topBtn {
  z-index: 2;
  position: absolute;
  bottom: 486px;
  width: 300px;
}

.p-planMB__btn {
  z-index: 2;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 52px;
  width: 300px;
}

.p-planTextPC {
  display: block;
  margin: 12px auto 0;
  width: 910px;
}

.p-planTextMB {
  display: block;
  margin: 16px auto 0;
  width: 310px;
}

.p-planTextPC__text {
  width: 910px;
}

.p-planTextMB__text {
  display: block;
  margin: 0 auto;
  width: 310px;
}

.p-exampleTitlePC {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  height: 84px;
}

.p-exampleTextPC {
  display: block;
  margin: 32px auto 0;
  width: 630px;
}

.p-exampleTextPC__text {
  width: 630px;
}

.p-exampleTextPCBtm {
  display: block;
  margin: 12px auto 0;
  width: 700px;
}

.p-exampleTextPCBtm__text {
  width: 700px;
}

.p-exampleTextMB {
  display: block;
  margin: 32px auto 0;
  width: 322px;
}

.p-exampleTextMB__text {
  display: block;
  margin: 0 auto;
  width: 322px;
}

.p-exampleTextMBBtm {
  display: block;
  margin: 16px auto 0;
  width: 312px;
}

.p-exampleTextMBBtm__text {
  display: block;
  margin: 0 auto;
  width: 312px;
}

.p-examplePC {
  margin: 24px 44px 0;
}

.p-examplePC__img {
  width: 100%;
}

.p-exampleMB {
  margin: 32px 20px 0;
}

@media only screen and (max-width: 1019px) {
  .p-planPCImg {
    width: auto;
    height: 900px;
  }

  .p-planTopPC {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
  }
  
  .p-planBtmPC {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
  }
  
  .p-planTopPC__topBtn {
    z-index: 2;
    position: absolute;
    bottom: 406px;
    width: 250px;
  }
  
  .p-planBtmPC__btn {
    z-index: 2;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    width: 250px;
  }

  .p-planTextPC {
    display: block;
    margin: 12px auto 0;
    width: 810px;
  }

  .p-planTextPC__text {
    width: 810px;
  }
}

@media only screen and (min-width: 768px) {
  .mb-only {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .l-wrap {
    position: relative;
  }

  .pc-only {
    display: none;
  }

  .l-header {
    position: absolute;
    margin: 16px 12px 0;
    width: calc(100vw - 24px);
  }

  .p-logo {
    z-index: 3;
    position: absolute;
    left: 10px;
    width: auto;
    height: 46px;
  }

  .l-topContents {
    position: absolute;
    z-index: 2;
    margin: 0 5%;
    top: 17vh;
    width: 90%;
    height: 90vh;
  }

  .p-copyMB {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .p-topBtnMB {
    display: block;
    margin: 24px auto 0;
    width: 85%;
    height: auto;
  }
  
  .p-topBtnMB__img {
    width: 100%;
    height: 100%;
  }
}